// Navigation code here

nav {
	.center();
	flex-direction: column;
	background-color: @wild-sand;
	border: 1px solid @sea-shell;
	color: @river-bend;
	@media @phone {
		width: 100%;
	}
	.main-title {
		.center();
		font-size: 4rem;
		margin: 1rem;
	}
	.links {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 1rem;
		padding: 0 35rem;
		width: 100%;
		@media @phone {
			padding: 0;
		}
	}
}
